<div id="<%= dom_id child %>" class="card">
  <div class="card-body">
    <div class="row">
      <div class="imageChild">
            <img src="<%= child.picture %>" class="img-fluid" alt="Picture">
        </div>

      <div class="col-md-4">
        
        
      </div>
      <div class="col-md-12">
        <h5 class="card-text"><strong>Nom:</strong></h5>
        <p class="card-title"><%= child.name %></p>

        <h5 class="card-text"><strong>Prénom:</strong></h5>
        <p class="card-title"><%= child.firstname %></p>

        <h5 class="card-text"><strong>Age:</strong></h5>
        <p class="card-title"><%= child.age %></p>

        <h5 class="card-text"><strong>Pays :</strong></h5>
        <p class="card-title"><%= child.country %></p>

        <h5 class="card-text"><strong>Ville:</strong></h5>
        <p class="card-title"><%= child.city %></p>
      </div>
    </div>
  </div>
</div>
