<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with(model: child, local: true, html: { class: "needs-validation", novalidate: true }) do |form| %>
        <% if child.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= pluralize(child.errors.count, "error") %> prohibited this child from being saved:</h4>
            <ul>
              <% child.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="card mb-3 border-0">
          <div class="card-body">
            <%= form.label :picture, class: "form-label", style: "display: block" %>
            <%= form.text_area :picture, class: "form-control", placeholder: "Enter picture URL here" %>
          </div>
        </div>

        <div class="card mb-3 border-0">
          <div class="card-body">
            <h5 class="card-title">Name</h5>
            <%= form.text_field :name, class: "form-control", required: true, placeholder: "Enter child's name" %>
          </div>
        </div>

        <div class="card mb-3 border-0">
          <div class="card-body">
            <h5 class="card-title">Firstname</h5>
            <%= form.text_field :firstname, class: "form-control", required: true, placeholder: "Enter child's firstname" %>
          </div>
        </div>

        <div class="card mb-3 border-0">
          <div class="card-body">
            <h5 class="card-title">Age</h5>
            <%= form.number_field :age, class: "form-control", required: true, placeholder: "Enter child's age" %>
          </div>
        </div>

        <div class="card mb-3 border-0">
          <div class="card-body">
            <h5 class="card-title">Country</h5>
            <%= form.text_field :country, class: "form-control", required: true, placeholder: "Enter child's country" %>
          </div>
        </div>

        <div class="card mb-3 border-0">
          <div class="card-body">
            <h5 class="card-title">City</h5>
            <%= form.text_field :city, class: "form-control", required: true, placeholder: "Enter child's city" %>
          </div>
        </div>

        <div class="form-group text-center">
          <%= form.submit "Save", class: "btn btn-primary btn-lg rounded-pill px-5 py-2 shadow-sm" %>
        </div>
      <% end %>

      <!-- Message de remerciement -->
      <div id="thank-you" class="text-center" style="display: none;">
        <h3>Merci !</h3>
        <p>Votre formulaire a été soumis avec succès.</p>
      </div>
    </div>
  </div>
</div>
