<div class="container">
  <<p>
        <%= notice %>
      </p>
  <div class="row justify-content-center">
    <div class="col-md-6">
     
 
      <%= render @child %>

      <div class="mt-4">
        <%= link_to "Modifier le profil", edit_child_path(@child), class: "btn btn-primary mr-2 mb-2" %>
        <%= link_to "Voir les artistes", children_path, class: "btn btn-secondary mr-2 mb-2" %>
        <%= button_to "Supprimer ce profil", @child, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mb-2", form: { "data-turbo-method": "delete" } %>
      </div>
    </div>
  </div>
</div>
