
<style>
  .swinging-table:hover {
    animation: swing 1s infinite;
  }

  @keyframes swing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-1deg); }
    50% { transform: rotate(1deg); }
    
  }
</style>

<div id="<%= dom_id artwork %>" >
  <img src="<%= artwork.paint %>" class="card-img-top image-frame shadow p-3 mb-5 bg-body-tertiary rounded swinging-table" alt="Painting">
  <div class="card-body card custom-text-center">
    <h5 class="card-title mt-3"><strong>Titre:</strong></h5>
    <p class="card-text"><%= artwork.title %></p>

    <h5 class="card-title pb-2"><strong>Date:</strong></h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= artwork.date %></li>
    </ul>

    <h5 class="card-title mt-4 border-bottom pb-2"><strong>Auteur </strong></h5>
    <p class="card-text">
      <%= link_to artwork.author, artwork.author, class: "card-link" %>
    </p>

    <h5 class="card-title mt-4 border-bottom pb-2"><strong>Description:</strong></h5>
    <p class="card-text" style="max-width: 400px;">
      <%= artwork.description %>
    </p>
  </div>
</div>