<div id="<%= dom_id artwork %>">
<p>
  <strong>Paint:</strong>
  <img src="<%= artwork.paint %>" class="card-img-top image-frame"> 
</p>

  <p>
    <strong class="card-title">Title:</strong>
    <p class="card-text"><%= artwork.title %></p>
  </p>

  <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= artwork.date %></li>
    </ul>

  <p class="card-body">
    <strong>Author:</strong>
    <%= link_to artwork.author, artwork.author %>
    <a href="#" class="card-link">See the author: <%= artwork.author %></a>
  </p>

  <p>
    <strong class="card-title">Description:</strong>
    <p class="card-text"><%= artwork.description %></p>
  </p>

</div>
