<img src="<%= artwork.paint %>" class="card-img-top image-frame" alt="Painting">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-14">
      <div id="<%= dom_id artwork %>" class="card">
        <div class="card-body">
          <h5 class="card-title mt-3"><strong>Title:</strong></h5>
          <p class="card-text"><%= artwork.title %></p>

          <h5 class="card-title"><strong>Date:</strong></h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= artwork.date %></li>
          </ul>

          <h5 class="card-title mt-3"><strong>Author:</strong></h5>
          <p class="card-text">
            <%= link_to artwork.author, artwork.author, class: "card-link" %>
            <a href="#" class="card-link">See more artworks by <%= artwork.author %></a>
          </p>

          <h5 class="card-title mt-3"><strong>Description:</strong></h5>
          <p class="card-text"><%= artwork.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
