<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p class="text-success"><%= notice %></p>

      <%= render @artwork %>

      <div class="mt-4">
        <%= link_to "Modifier cette oeuvre", edit_artwork_path(@artwork), class: "btn btn-primary mr-2 mb-2" %> 
        <%= link_to "Retour au musée", artworks_path, class: "btn btn-secondary mr-2 mb-2" %>
        <%= button_to "Supprimer l'oeuvre", @artwork, method: :delete, data: { confirm: "Vraiment ?" }, class: "btn btn-danger mb-2" %>
      </div>
    </div>
  </div>
</div>
