<!DOCTYPE html>
<html>
  <head>
    <title>Pitchoun4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Pitchoun's Museum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= children_path %>">All artists</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="<%= new_artwork_path %>">Add an artwork</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_child_path %>">Add Artists Children</a>
        </li>
      </ul>
    </div>
  </nav>
    <%= yield %>
  <footer class="footer bg-orange color-black py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto"> <!-- Ajout de la classe mx-auto pour centrer -->
        <h5>Social media :</h5>
        <a  class="" href="#">Facebook</a>
        <br>
        <a class="" href="#">Twitter</a>
        <br>
        <a class="" href="#">Instagram</a>
      </div>
      <div class="col-md-6 mx-auto"> <!-- Ajout de la classe mx-auto pour centrer -->
        <h5>Navigation :</h5>
        <a class="" href="<%= new_artwork_path %>">Add an artwork</a>
        <br>
        <a class="" href="<%= new_child_path %>">Add Artists Children</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <br>
          <p>Made by Camille Surget Lucas Le goff Maxence Mingasson</p>
        </div>
      </div>
    </div>
  </div>
</footer>
  </body>
</html>

<%# Menu déroulant : %>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

