<!DOCTYPE html>
<html>
  <head>
    <title>Musée des Pitchouns</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Le Musée des Pitchouns</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= children_path %>">Voir les artistes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="<%= new_artwork_path %>">Ajouter une oeuvre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_child_path %>">Ajouter un artiste</a>
        </li>
      </ul>
    </div>
  </nav>
    <%= yield %>
    <br>
<footer class="footer bg-orange text-black py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <h5 class="footer-heading"><span style="text-decoration: underline;">Restons Connectés</span></h5>
        <ul class="list-unstyled">
          <li><a class="social-link" href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
          <li><a class="social-link" href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a class="social-link" href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-6 mx-auto">
        <h5 class="footer-heading"><span style="text-decoration: underline;">Navigation</span></h5>
        <ul class="list-unstyled">
          <li><a class="nav-link" href="<%= children_path %>">Tous d'artiste</a></li>
          <li><a class="nav-link" href="<%= new_artwork_path %>">Ajouter une œuvre</a></li>
          <li><a class="nav-link" href="<%= new_child_path %>">Ajouter un artiste</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <p class="mb-0" style="font-size: 0.9rem;">© 2024 Réalisé par <strong>Camille Surget</strong>, <strong>Lucas Le Goff</strong>, et <strong>Maxence Mingasson</strong>. Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


  </body>
</html>

<%# Menu déroulant : %>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

